<!DOCTYPE html>
    <html lang="{% block lang %}{% endblock %}">
    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
            <title>{% block title %}{% endblock %}</title>
            <meta name="twitter:image" content="static/img/fav750.png">
            <meta name="twitter:title" content="TUL Esports">
            <meta property="og:image" content="static/img/fav750.png">
            <meta name="description" content="TUL Esports is the student project of Lodz University of Technology Student. It helps finding best gamers on Uni.">
            <meta property="og:type" content="website">
            <meta name="twitter:card" content="summary">
            <meta name="twitter:description" content="TUL Esports is the student project of Lodz University of Technology Student. It helps finding best gamers on Uni.">
            <link rel="icon" type="image/png" sizes="16x16" href="static/img/fav16.png">
            <link rel="icon" type="image/png" sizes="32x32" href="static/img/fav32.png">
            <link rel="icon" type="image/png" sizes="180x180" href="static/img/fav180.png">
            <link rel="icon" type="image/png" sizes="192x192" href="static/img/fav192.png">
            <link rel="icon" type="image/png" sizes="512x512" href="static/img/fav512.png">
            <link rel="stylesheet" href="static/css/fonts.css">
            <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
            <link rel="stylesheet" href="static/css/Footer-Dark.css">
            <link rel="stylesheet" href="static/css/Navigation-Clean.css">
            <script async defer data-website-id="64d9942b-ad2f-40b1-ad2e-bfeb363b3261" src="https://umami-stefanski-tech.herokuapp.com/umami.js"></script>
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-md navigation-clean navbar-dark">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <video autoplay muted loop id="logoVideo">
                      <source src="static/logo/logo.mp4" type="video/mp4">
                    </video>
                    {{ navBar.navLogo }}
                    <span class="beta-sign">Beta</span>
                </a>
                <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="/leaderboards">{{ navBar.navLeaderboardsLinkText }}<br></a></li>
                        <li class="nav-item"><a class="nav-link" href="/">{{ navBar.navGetReportLinkText }}<br></a></li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle nav-link" data-toggle="dropdown"
                               aria-expanded="false" href="#">{{ navBar.navLanguageSelector }}</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/?lang=en-GB">English</a>
                                <a class="dropdown-item" href="/?lang=pl">Polski</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% block content %}{% endblock %}
        <div class="footer-dark">
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <p>TUL Esports isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing Riot Games properties. Riot Games, and all associated properties are trademarks or registered trademarks of Riot Games, Inc.</p>
                            <p>We use cookies to provide decent level of security and also store your language settings. By staying on this site you consent to having them stored.</p>
                        </div>
                    </div>
                    <p class="copyright">
                        Made with 😎 🤙 by<br>
                        <a href="mailto:234719@edu.p.lodz.pl">Jan Stefanski</a> & <a href="mailto:230132@edu.p.lodz.pl">Marek Siuda</a> © 2020
                    </p>
                </div>
            </footer>
        </div>
        <script src="static/js/jquery.min.js"></script>
        <script src="static/js/main.js"></script>
        <script src="static/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>