{% extends "base.html" %}
{% block lang %}{{ indexPage.lang }}{% endblock %}
{% block title %}{{ indexPage.title }}{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="static/css/Highlight-Clean.css">
    <link rel="stylesheet" href="static/css/rankings.css">
    <link rel="stylesheet" href="static/css/styles.css">
{% endblock %}
{% block content %}
    <div class="highlight-clean">
        <div id="particles-js"></div>
        <div class="container">
            <div class="intro">
                <h2 class="text-center">{{ indexPage.mainContentHeader }}<br></h2>
                <p class="text-center">{{ indexPage.mainContentDesc }}</p>
                <form action="/get-statistics-report" method="post">
                    <div class="form-group">
                        <input class="form-control" type="text" id="summoner" name="summoner" placeholder="{{ indexPage.summonerNameFormLabel }}">
                    </div>
                    <div class="form-group buttons">
                        <label for="region">{{ indexPage.regionFormLabel }}</label>
                        <select id="region" name="region" class="form-control">
                            <optgroup label="{{ indexPage.regionOptGroupEuropeLabel }}">
                                <option value="eune" selected>EUNE</option>
                                <option value="euw">EUW</option>
                            </optgroup>
                        </select>
                    </div>
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token() }}">
                    <div class="form-group buttons">
                        <input class="btn btn-primary" type="submit" value="{{ indexPage.getStatsFormButton }}">
    <!--                    <span class="spinner-border spinner-border-sm" role="status"></span>-->
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="index-ranking">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ranking">
                    <h2 class="text-center">{{ indexPage.topPlayersHeading }}</h2>
                    <p class="text-center">{{ indexPage.topPlayersDesc }}</p>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>{{ indexPage.rankingTablePositionColumnHeading }}</th>
                                    <th>{{ indexPage.rankingTableSummonerNameColumnHeading }}</th>
                                    <th>{{ indexPage.rankingTableRankColumnHeading }}</th>
                                    <th>{{ indexPage.rankingTableRoleColumnHeading }}</th>
                                </tr>
                            </thead>
                            <tbody class="ranking-table-body">
                            {% for pos, player in rankedPlayers %}
                                <tr>
                                    <td>{{ pos + 1 }}</td>
                                    <td>{{ player.name }}</td>
                                    <td>{{ player.rank }}</td>
                                    <td>{{ player.role }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <p class="text-center"><a class="btn btn-secondary" href="/leaderboards">{{ indexPage.fullRankingButtonText }}</a></p>
                </div>
            </div>
        </div>
    </div>
<script src="static/js/particles.min.js"></script>
<script src="static/js/particles-init.js"></script>
{% endblock %}