{% extends "base.html" %}
{% block lang %}{{ leaderboardsPage.lang }}{% endblock %}
{% block title %}{{ leaderboardsPage.title }}{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="static/css/rankings.css">
{% endblock %}
{% block content %}
    <div class="index-ranking">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ranking">
                    <h2 class="text-center">{{ leaderboardsPage.topPlayersHeading }}</h2>
                    <p class="text-center">{{ leaderboardsPage.topPlayersDesc }}</p>
                    <p class="text-right font-weight-lighter">{{ leaderboardsPage.perPage }}:
                        {% for limit in allowedLimits %}
                            <a href="?limit={{ limit }}">{{ limit }}</a>
                        {% endfor %}
                    </p>
                    <p class="text-right font-weight-lighter">{{ leaderboardsPage.season }}:
                        <a href="?season=10">10</a>
                        <a href="?season=11">11</a>
                    </p>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>{{ leaderboardsPage.rankingTablePositionColumnHeading }}</th>
                                <th>{{ leaderboardsPage.rankingTableSummonerNameColumnHeading }}</th>
                                <th>{{ leaderboardsPage.rankingTableRankColumnHeading }}</th>
                                <th>{{ leaderboardsPage.rankingTableRoleColumnHeading }}</th>
                            </tr>
                            </thead>
                            <tbody class="ranking-table-body">
                            {% for player in rankedPlayers %}
                            <tr>
                                <td>{{ player.position }}</td>
                                <td>{{ player.name }}</td>
                                <td>{{ player.rank }}</td>
                                <td>{{ player.role }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="pages-nav">
                            <ul class="pagination ">
                                <li class="page-item">
                                  <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                  </a>
                                </li>
                                {% for page in pages %}
                                <li class="page-item"><a class="page-link" href="{{paramParser('page', page)}}">{{ page + 1 }}</a></li>
                                {% endfor %}
                                <li class="page-item">
                                  <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                  </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}