.highlight-clean {
  color: #fff;
  background-color: #313437;
  padding: 50px 0;
}

.highlight-clean p {
  color: #7d8285;
}

.highlight-clean h2 {
  font-family: 'hindbold', -apple-system, BlinkMacSystemFont, "Segoe UI Bold", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: normal;
  margin-bottom: 25px;
  line-height: 1.5;
  padding-top: 0;
  margin-top: 0;
  color: inherit;
}

.highlight-clean .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 25px;
}

.highlight-clean .buttons {
  text-align: center;
}

.highlight-clean .buttons .btn {
  padding: 16px 32px;
  margin: 6px;
  border: none;
  background: #ddd;
  box-shadow: none;
  text-shadow: none;
  opacity: 0.9;
  text-transform: uppercase;
  font-family: 'hindbold', -apple-system, BlinkMacSystemFont, "Segoe UI Bold", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: normal;
  font-size: 13px;
  letter-spacing: 0.4px;
  line-height: 1;
  outline: none;
}

.highlight-clean .buttons .btn:hover {
  opacity: 1;
}

.highlight-clean .buttons .btn:active {
  transform: translateY(1px);
}

.highlight-clean .buttons .btn-primary {
  background-color: #055ada;
  color: #fff;
}

.highlight-clean .buttons select.form-control {
  background: #00353a;
  color: #f2f5f8;
}

.highlight-clean input.form-control {
  background: #00353a;
  color: #f2f5f8;
}