.index-ranking {
    position: relative;
    z-index: 100;
    background: #2f3133;
}

.index-ranking .container, .container-lg, .container-md, .container-sm, .container-xl {
    padding-bottom: 25px;
    padding-top: 25px;
}

.ranking h2 {
    font-family: 'hindbold', -apple-system, BlinkMacSystemFont, "Segoe UI Bold", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: normal;
}

.ranking p {
    color: #a0a0a0;
    font-size: 16px;
}

.ranking .table-responsive {
    margin: 25px 0;
}

.ranking .btn {
    padding: 16px 32px;
    text-transform: uppercase;
    font-family: 'hindbold', -apple-system, BlinkMacSystemFont, "Segoe UI Bold", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.ranking-table-body tr:first-child, .first-pos {
    color: #0a0a0a;
    font-size: 18px;
    font-family: 'hindbold', -apple-system, BlinkMacSystemFont, "Segoe UI Bold", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: linear-gradient(#655b0b, #ffe983 50%, #655b0b 99%);
}

.ranking-table-body tr:nth-child(2), .second-pos {
    color: #0a0a0a;
    font-size: 14px;
    font-family: 'hindsemibold', -apple-system, BlinkMacSystemFont, "Segoe UI Bold", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: linear-gradient(rgb(74 74 74) 0%, #bae0e0 50%, rgb(74 74 74) 99%);
}

.ranking-table-body tr:nth-child(3), .third-pos {
    font-size: 12px;
    background: linear-gradient(#54250d, #bb9e4b 50%, #54250d);
}