@font-face {
    font-family: 'hindregular';
    src: url('/static/fonts/hind-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hindsemibold';
    src: url('/static/fonts/hind-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hindmedium';
    src: url('/static/fonts/hind-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hindbold';
    src: url('/static/fonts/hind-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hindlight';
    src: url('/static/fonts/hind-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.index-ranking {
    background: #2f3133;
}

.index-ranking .container, .container-lg, .container-md, .container-sm, .container-xl {
    padding-bottom: 25px;
    padding-top: 25px;
}

.ranking h2 {
    font-family: 'hindbold', -apple-system, BlinkMacSystemFont, "Segoe UI Bold", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: normal;
}

.ranking p {
    color: #a0a0a0;
    font-size: 16px;
}

.ranking .table-responsive {
    margin: 25px 0;
}

.ranking .btn {
    padding: 16px 32px;
    text-transform: uppercase;
    font-family: 'hindbold', -apple-system, BlinkMacSystemFont, "Segoe UI Bold", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.ranking-table-body tr:first-child {
    color: #0a0a0a;
    font-size: 18px;
    font-family: 'hindbold', -apple-system, BlinkMacSystemFont, "Segoe UI Bold", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: linear-gradient(#655b0b, #ffe983 50%, #655b0b 99%);
}

.ranking-table-body tr:nth-child(2) {
    color: #0a0a0a;
    font-size: 14px;
    font-family: 'hindsemibold', -apple-system, BlinkMacSystemFont, "Segoe UI Bold", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: linear-gradient(rgb(74 74 74) 0%, #bae0e0 50%, rgb(74 74 74) 99%);
}

.ranking-table-body tr:nth-child(3) {
    font-size: 12px;
    background: linear-gradient(#54250d, #bb9e4b 50%, #54250d);
}

.ranking .disclaimer {
    font-size: 10px;
}

.rank-img {
    width: 200px;
}

.without-bg {
  background: #313437b7;
}

.summoner-icon {
  margin-bottom: 15px;
  width: 128px;
  height: 128px;
}

.student-profile-main {
    padding: 50px 0;
    text-shadow: 0px -7px 7px rgb(0 0 0)
}