.ranking .disclaimer {
    font-size: 10px;
}

#particles-js canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0
}

.navbar {
    z-index: 100;
}

.highlight-clean .container {
    position: relative;
    overflow: hidden;
    z-index: 100;
}

.highlight-clean .container .intro {
    background: #3134374f;
}